.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    gap: 3rem;

    li a {
      font-size: 0.9rem;
      font-weight: normal;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    button:first-child {
      background: transparent;
      border: 1px solid #1b1b1b;
      color: #1b1b1b;
    }

    button:last-child {
      background: tomato;
      color: #fff;
    }

    button {
      border: 0;
      border-radius: 0.2rem;
      width: 170px;
      height: 4rem;
      font-weight: bold;
      font-size: 1rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.95);
      }
    }
  }
}