.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
  background: #333333;
  color: #e5e5e5;

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;

      li a {
        font-size: 0.85rem;
        font-weight: normal;
        transition: 0.2s;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
