main {
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;

  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 8rem);
    margin-top: 5rem;
    gap: 1rem;

    span {
      font-weight: bold;
    }

    h1 {
      margin: 2rem 0;
      font-size: 2.7rem;
    }

    div {
      display: flex;
      align-items: center;

      button {
        width: 80px;
        height: 40px;
        border: 0;
        border-radius: 2rem;
        background: #1d1d1f;
        color: #fff;
        font-size: 0.8rem;
        font-weight: bold;
        margin-right: 0.6rem;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.95);
        }
      }

      a {
        display: flex;
        align-items: center;
      }
    }

    img {
      width: 550px;
    }
  }

  .description-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    background: #fafafa;

    h1 {
      font-size: 2.3rem;
      margin: 4rem 0 10rem;
    }

    img {
      width: 270px;
    }

    tbody {
      tr {
        display: flex;
      }

      h2 {
        margin-bottom: 5rem;
      }

      tr td div {
        display: flex;
        align-items: center;
        flex-direction: column;

        span {
          margin: 2rem 0.4rem;
        }
      }
    }
  }
}
